<div
  id="left_column"
  class="sticky top-16 flex h-[calc(100vh-4rem)] w-1/3 content-end overflow-y-auto border-r-2 border-gray-800 pl-4 pr-4 text-right"
>
  <div class="flex w-1/2 flex-col text-left"></div>
  <div class="mt-12 flex w-1/2 flex-col pl-4 xl:pl-20 min-[2000px]:pl-40 min-[2500px]:pl-80 text-left justify-items-end">
    <a href="/" class="mb-8 text-2xl font-bold text-gray-300">
      <i class="fas fa-home"></i> Home
    </a>
    <a href="/explore" class="mb-8 text-2xl font-bold text-gray-300">
      <i class="fas fa-compass"></i> Explore
    </a>
    <a href="/search" class="mb-8 text-2xl font-bold text-gray-300">
      <i class="fas fa-search"></i> Search
    </a>
    <a href="/profile" class="text-2xl font-bold text-gray-300">
      <i class="fas fa-user"></i> Profile
    </a>
  </div>
</div>
