<div class="justify-left flex h-12 w-12 items-center">
  <a href="/profile/{{ username }}" class="rounded-full bg-blue-500 p-0.5">
    <div
      class="flex h-10 w-10 items-center justify-start overflow-hidden rounded-full bg-gray-300 font-bold text-gray-600"
    >
      <img
        src="{{ avatar }}"
        alt="User Avatar"
        class="h-full w-full object-cover"
      />
    </div>
  </a>
</div>
