<div class="text-center text-lg">
  <h2 class="mb-8">{{ result }}</h2>
  <div class="flex flex-col">
    <div class="grid grid-cols-2 gap-4">
      {{#profile}} {{> partials/userCard}} 
      {{/profile}}
    </div>
  </div>
</div>
